name: Reusable CI

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string
      working-directory:
        required: false
        type: string
        default: "."

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: .github/actions
          repository: krushilnaik/workflow-template
          path: .github/actions/workflow-template
          ref: main

      - name: Setup Node
        uses: ./.github/actions/workflow-template/actions/setup-node-env
        with:
          node-version: ${{ inputs.node-version }}
          working-directory: ${{ inputs.working-directory }}

      - name: Run Tests
        run: npm test
        working-directory: ${{ inputs.working-directory }}
        shell: bash
